@use "sass:map";
@use "../config/colors" as *;
@use "../config/mixin"  as *;
@use "../config/mq"     as *;

/*-----------------------FOOTER-----------------------*/

.pie {
  @include flex(column, center, center, 1rem);
  margin: 10px;
  padding: 10px;

  nav {
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;

      li a {
        color: $black;
        text-transform: lowercase;
        letter-spacing: 0.5px;
        text-decoration: none;
      }
    }
  }

  p {
    margin: 10px;
    padding: 10px;
  }
}
